@page
@model WebApplication1.Pages.Dati.modificaModel
@{
}

@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role='alert'>
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Chiudi"></button>
	</div>
}


<form method="post">
	<input type="hidden" name="id" value="@Model.dato.id" />

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Data</label>
		<div>
			<input type="datetime-local" name="data" value="@Model.dato.Data.Trim()">
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Valore</label>
		<div>
			<input type="text" name="valore" value="@Model.dato.Valore.Trim()">
		</div>
	</div>

	<div>
		<div>
			<button type="submit" class="btn btn-primary">Modifica</button>
		</div>
		<div>
			<a href="test" class="btn btn-outline-primary" role=button>Annulla</a>
		</div>
	</div>
</form>